body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* USER_FEEDBACK.JS*/
.feedbackcard{
  width: 300px;
  border: #888 solid 1px;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
  }
  .cardfooter{
  background-color: #888;
  padding: 0.2em;
  color: aliceblue;
  }
  .feedbackcontainer:hover{
  box-shadow: 0px 0px 10px 1px gray;
  transform: scale(1.01);
  overflow: hidden;
  border-radius: 10px;
  }
  .feedbackcontainer{
  margin: 1%;
  }
  