nav {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
}

nav a {
    text-decoration: none;
}

.vidandreadbtn {
    text-decoration: none;
}

.homeheader h1 {
    text-align: center;
}