body {
    font-family: 'Courier New', Courier, monospace;
}
/*index page colors*/
h1, h4 {
    text-align: center;
    margin: 10px 0;
  }
  
  .colorsindex {
    position: relative;
    display: inline-block;
    max-width: 600px;
    margin: 20px auto;
  }
  
  .colorsindex img {
    width: 100%;
    height: auto;
  }
  
  .colorsindex a {
    position: absolute;
    top: 10%;
    left: 10%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 3em;
    border-radius: 5px;
  }
  
  .box-container-index {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    max-width: 80%;
    margin: 20px auto;
  }
  
  
.container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 20px;
    justify-content: center;
    padding: 20px;
    max-width: 100%;
    margin: 0 auto;
  }
  
  .box {
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 1.5rem;
    border-radius: 8px;
    border: 1px solid black;
  }

  #red:hover {
    background-color: red;
    color: white;
  }
  #orange:hover {
    background-color: orange;
    color: white;

  }
  #yellow:hover {
    background-color: yellow;
  }
  #green:hover {
    background-color: green;
    color: white;
  }
  #blue:hover {
    background-color: blue;
    color: white;
  }
  #indigo:hover {
    background-color: indigo;
    color: white;
  }
  #violet:hover {
    background-color: violet;
    color: white;
  }

.rainbowimgcontainer {
    text-align: center;
}  
.rainbowimg {
    text-align: center;
    width: 25%;
    display: inline-block;
}

/*color quiz*/
.takequizcontainer {
    text-align: center; 
    margin-top: 20px;
}
#takeQuiz {
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer;
}