body {
    background-color: lightblue;
}

.title {
    color: crimson;
    text-align: center;
}
.author {
    text-align: center;
}

ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

li a {
    text-decoration: none;
    display: inline;
    margin: 0 10px;
}

