* {
    box-sizing: border-box;
}

.square, .animalsdiv, .numberdiv {
    width: 200px;
    height: 200px;
    border: solid 1px lightblue;
}

.animalsdiv {
    font-size: 3em;
    padding: 60px;
    text-align: center;
}

.numberdiv {
    font-size: 2em;
    padding: 60px;
    text-align: center;
}

.circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: solid 2px lightblue;
    text-align: center;
    padding-top: 40px;
}