body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* CARD - COMMENTS.JS */
.card{
  padding: 1em;
  width: 90%;
  text-align: center;
  margin: 1em auto;
  border-radius: 10px;
  transition: ease-in-out 100ms;
  }
  .content{
  font-size: 1.1em; font-weight: 900;
  }
  .metadata{
  font-size:0.8em; color: #888;
  }
  .container{
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  }