body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background: navy;
  color: #fff;
}


.nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: transform 0.1s;
}
.nav a:hover {
  transform: scale(1.5);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px);
}

.card {
  width: 300px;
  padding: 20px;
  border: 1px solid azure;
  border-radius: 10px;
  box-shadow: 0 4px 8px navy;
  text-align: center;
  background: #f9f9f9;
  margin: 10px;
  transition: transform 0.05s;
}

.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}
.card:hover {
  transform: scale(1.2);
}
.header-container {
  text-align: center;
}