.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  width: 100%;
  position: relative;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  max-height: 80vh;
  text-align: center;
}

.modal-content p {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
  margin-top: 10px;
  white-space: normal;
  overflow-wrap: break-word;
}

.modal-content img {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  display: block;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.modal-content img:hover {
  transform: scale(1.05);
}
