.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0s 0.3s;
}

.modal.open {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease, visibility 0s 0s;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  width: 100%;
  position: relative;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  max-height: 80vh;
  text-align: center;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #888;
  background: transparent;
  border: none;
  padding: 5px;
}

.close-btn:hover {
  color: #333;
}

.modal-content h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 15px;
  text-align: center;
}

.modal-content img {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  display: block;
  border-radius: 8px;
}

.modal-content p {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
  margin-top: 10px;
}

.modal-content img {
  transition: transform 0.3s ease-in-out;
}

.modal-content img:hover {
  transform: scale(1.05);
}
