/* BREAKPOINT :1230PX */
@media only screen and (max-width: 1230px) {
    .navleft, .navright {
        width: 100%;
        transition: ease-in-out 500ms;
    }
    .headertop {
        height: auto;
    }
    .navright div:nth-child(1) {
        margin-left: 0px;
    }
    .navright, .navleft {
        justify-content: center;
    }
    .links{width: 30%;}
    .introimage{width: 100%;}
    .introtitle{font-size: 2.5em; color:darkslateblue;}
    .bodyinfo{width:100%;}
    .cardcontainer{margin-right: 20px;}
    .card{width: 42%;}
}

/* BREAKPOINT : 900px*/
@media only screen and (max-width: 900px) {
    body{background-color: hotpink;}
    .navright{display: none;}
    .cardcontainer{width: 100%;}
    .blogs{width: 100%;}
    .card{width: 100%;}
}

/* BREAKPOINT : 900px*/
@media only screen and (max-width: 600px) {
    body{background-color: greenyellow;}
    .homeiconimg{display: none;}
    .homeiconlink{font-size: 0.7em; text-align: center;}
    .navlinks{padding: 10px;}
    .links{font-size: 0.6em;}
    .introtitle{font-size: 1.2em; bottom: 0px; color:whitesmoke;}
    .bodyinfo{flex-wrap: wrap;}
    .cardcontainer{margin-right: 0px;}
    .footer{font-size: 1em;}
}